.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

span.fa.fa-phone-alt.me-2 {
  margin-right: 10px;
}
.container-fluid.bg-dark.text-light.px-0.py-2{
  height: 80px;
}
.h-100.d-inline-flex.align-items-center.me-4 {
  margin-right: 20px;
}
.row.gx-0.d-none.d-lg-flex {
  padding-bottom: 10px;
  font-size: 20px;
}
.h-100.d-inline-flex.align-items-center.me-4 {
  margin-right: 20px;
}
span.far.fa-envelope.me-2 {
  margin-left: 40px;
  margin-right: 10px;
}
h5.display-4 {
  margin-top: 22px;
  margin-bottom: 49px;
  color: rgb(184, 82, 10);
  font-style: oblique;
  font-weight: 600;
}
button.text-right.btn-success.mb-3 {
  font-size: 40px;
  height: 60px;
  width: 150px;
}
.row {
  margin-top: 20px;
}
img.w-100.d-block {
  height: 225px;
}
.col-3 {
  margin-bottom: 38px;
}
h1.display-4.font-weight-normal {
  font-size: 43px;
  margin-top: 36px;
}
p {
  text-align-last: left;
  margin-left: 78px;
  font-size: 19px !important;
}

i.fa.fa-envelope.me-3,
i.fa.fa-phone-alt.me-3,
i.fa.fa-map-marker-alt.me-3 {
  margin-right: 10px;
}
